body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color:#333;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	position: relative;
}
a {
	color:#4099FF;
}

.tweet {
	position: absolute;
	width:500px; 
}
.text {
	display: inline-block;
}
.author {
	text-align: right;
}